.segment
  height: 100vh;

.text
  color white
  font-size: 3em;
  padding: 20px;
  line-height: 53px;

.teaser
  font-size: 8em;
  word-break: break-word;
  color: white;

.teaser-header
  font-size: 0.6em;
  padding-top 80px
  color: #fff;
  text-align: center;

.teaser-header::first-letter
  color: #f00;
  font-family: futura;
  font-weight: bold;

.teaser-content
  padding-top 5%
  line-height: 122%;
  font-weight: bold;
  padding-left: 2%;

.article-quote
  font-size: 8em;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  font-style: italic;
  box-shadow: inset 0px -62px 0px #019883;
  padding-bottom: 0%;
  line-height: 130%;
  letter-spacing: 3px;
  word-spacing: -3px;

.img-slider
  height 100vh
  .slick-next 
    right 0
