.stack-slider
  .stack-slider-element
    position fixed
    width 100vw
    height 100vh
    overflow scroll

  .stack-slider-before
    margin-left 100vw
    z-index 200

  .stack-slider-current
    box-shadow 2px 10px 20px 10px #373737
    z-index 100

  .stack-slider-after
    z-index 1

