#kompass-end
  margin auto
  display block
  position relative
  top 35vh
  -webkit-filter drop-shadow( -6px 8px 9px #000 )
  filter drop-shadow( -6px 8px 9px #000 )
nav
  position fixed
  width 100vw
  height 100vh
  background rgb(116, 0, 39)
  box-shadow inset 0px 0px 10em 10px rgba(0, 0, 0, 0.39)
  overflow-x hidden
  overflow-x hidden
  overflow-y hidden

  #kompass
    position absolute
    width 150vw
    bottom -27%
    left -24%
  .city-name
    font-size 1.7em
    margin-top 20%
    font-weight bold
    letter-spacing 10px
    color rgb(255, 255, 255)
    text-shadow -36px 34px #52001C
    @media screen and (min-height: 1550px)
      margin-top 20%
    @media screen and (max-height: 1550px)
      margin-top 10%
  .cities
    transform-origin bottom center
  .city
    transform-origin bottom center
    text-align center
    font-size 5em

  #nord-ost
    transform rotate(45deg)

  #ost 
    transform rotate(90deg)

  #sud-ost 
    transform rotate(135deg)

  #sud 
    transform rotate(180deg)

  #sud-west 
    transform rotate(225deg)

  #west 
    transform rotate(270deg)

  #nord-west 
    transform rotate(315deg)


